:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: "Roboto", sans-serif;
}
img {
    max-width: 100%;
}

/* main button  */
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border: none;
    padding: 0.5rem 1rem;
}
.main-btn:hover {
    background-color: #e00929;
}
/* main title  */
.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
    color: var(--green-color);
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search i {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}
/* End Navbar */

/* Start Landing  */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing  */

/* Start features  */
.features .icon-holder {
    height: 200px;
}
.features .feat i {
    left: 50%;
    transform: translateX(-50%);
}
.features .feat .number {
    font-size: 150px;
    color: var(--section-color);
}
.features .feat .icon {
    color: var(--green-color);
    font-size: 60px;
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End features  */

/* Start Our Work  */
.our-work {
    background-color: var(--section-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    padding: 5px;
    position: relative;
}
.our-work .box::before {
    content: attr(data-work);
    height: calc(100% - 10px);
    background-color: #33d1cc91;
    width: 0;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 0;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.our-work .box:hover::before {
    width: calc(100% - 10px);
    font-size: 1.5rem;
}
/* End Our Work  */

/* Start Stuff */
.stuff .description {
    max-width: 500px;
}
/* End Stuff */

/* Start Team */
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow-color);
}
.team .box h4 {
    background-color: var(--green-color);
}
/* End Team */

/* Start Project  */
.project {
    background-color: var(--dark-color);
}
/* End Project  */

/* Start subscribe  */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input {
    border: none;
    outline: none;
}
.subscribe input[type="text"] {
    border-bottom: 1px solid white;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* End subscribe  */

/* Start footer  */
.footer {
    background-color: var(--dark-color);
}
.footer .info .copyright>span {
    color: var(--green-color);
}
.footer .info .copyright div>span {
    color: var(--yellow-color);
}
.footer .contact .icons i::before {
    border-radius: 50%;
    padding: 0.5rem;
}
.footer .contact .icons i.facebook::before {
    background-color: #1877f2;
}
.footer .contact .icons i.twitter::before {
    background-color: #1da1f2;
}
.footer .contact .icons i.linkedin::before {
    background-color: #0a66c2;
}
.footer .contact .icons i.youtube::before {
    background-color: #ff0000;
}
/* End footer  */